{% extends "layout.html" %}

{% block content %}
	<!-- <div class="wikibody">  -->
	<div class="wikibody">
	<h1>{{title}}</h1>

	<form method="post" action="/add/submit">
  <div class="form-group">
    <label for="pageTitle">Page Title</label>
    <input type="text" class="form-control" name="pageTitle">
  </div>
  <div class="form-group">
    <label for="pageContent">Page Content</label>
    <!-- <input type="text" class="form-control" id="pageContent" rows="3"> -->
    <textarea class="form-control" name="pageContent" rows="14"></textarea>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
	</div>
{% endblock %}