{% extends "layout.html" %}

{% block title %}{{page.title}}{% endblock %}

{% block content %}

<!-- <div class="wikibody"> -->


  <ul class="wikidocs">
  {% for doc in docs %}
    <h1>{{doc.title}}</h1>
    <hr style="height:1px;background-color:#333333">
    <p style="font-size:16px">{{doc.body | marked}}</p>

  {% endfor %}
</ul>






<!-- {% if docs.length > 0 %}
  <ul>
    {% for doc in docs %}
      <li>{{doc|page_link}}</li>
    {% endfor %}
  </ul>
{% else %}
  There are no pages. Why don't you <a href='/add'>add one</a>?
{% endif %} -->
<!-- </div> -->



	
    
	
{% endblock %}